


a{
    color: white;
}


a:hover {
    color: #243B55;
    top: -5px;
}


a{
    padding: 20px;
    position: relative;
    transition: top ease 0.5s;
    top: 0;
}




ul{
    list-style: none;
}




.rodape{
    background-color: #1b1b1b;
    height: 150px;
    margin-top: 50px;
    text-align: center;
    
}

.h2_contacts{
    color: white;
    margin-bottom: 20px;
    

}

a{
    text-decoration: none;
}

.ul_contacts{
    text-align: center;
    padding: 30px;
    
}





