@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quando', serif;
    scroll-behavior: smooth;
}

/* criando barra de navegação */
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

nav {
    width: 50%;
}

a {
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);
    font-size: 15.2061px;
    transition: ease-in-out 0.3s;
}

a:hover {
 color: rgb(68, 78, 24);
}





.barra {
    width: 100%;
    background: rgba(196, 196, 196, 0.11);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: solid 1px rgba(255, 255, 255, 0.452);
}

.barra-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.centralizador {
    max-width: 1000px;
    margin: 0 auto;
}
/* barra de navegação terminada */

/* criando início */
#inicio {
    background: linear-gradient(63.13deg, #352728 51.04%, #8E5D52 51.05%);
    height: 100vh;
    display: flex;
    align-items: center;
}

.altura-ajuste{
    width: 100%;
}

.ajustador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.apresentacao {
    max-width: 741px;
    color:white;
}

.descricao {
    font-size: 25px;
    grid-area: descricao;
}





.link {
    font-size:25px;
    width:50%;
    text-align: center;
    padding: 12px 0 ;
    transition: ease-in-out 0.3s;
}







.close-menu {
    display: none;
}

.meu-nome::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@media (max-width:1200px) {
    
    #inicio{
        background: #352728;
        height: auto;
    }

    .ajustador {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 50px;
    }

    .desenho {
        padding: 100px 0;
    }

    .apresentacao {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

   

    


}

