<div class="container-fluid">

    <div class="row bg-secondary d-flex ">
        <div class="col-md-6">

            <div class="row d-flex justify-content-center ">
                <div class="col-md-6 text-light bor">
                    <h1 class="fs-54 ">Seja bem vinde!</h1>
                    <ul class="list2">
                        <li class="whos">
                            <h1>Dados pessoais:</h1>
                        </li>
                        <li class="whos2">
                            <h3>Nome:</h3>
                        </li>
                            <dd class="paragrafo" class="paragrafo">Mateus Toni Vieira</dd>
                        <li class="whos2">
                            <h3>Data de nascimento:</h3>
                        </li>
                            <dd class="paragrafo" class="paragrafo">01/07/2001</dd>
                        <li class="whos2">
                            <h3>Sou de:</h3>
                        </li>
                            <dd class="paragrafo" class="paragrafo">Osasco-SP</dd>
                        <li class="whos2">
                            <h3>Atualmente desenvolvendo:</h3>
                        </li>
                            <dd class="paragrafo" class="paragrafo">Automation Status Buy / BootCamp Start Future</dd>
                        <li class="whos2">
                            <h3>Atualmente Estudando:</h3>
                        </li>
                            <dd class="paragrafo">Django / Selenium / Pandas</dd>
                        <li class="whos2">
                            <h3>Próximos Passos:</h3>
                        </li>
                            <dd class="paragrafo">JavaScript</dd>
                    </ul>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    
                </div>
            </div>
        </div>
        
        
        <div class="col-md-6 bg-dark">
            <img src="" alt="">
        </div>
    </div>
    
    
</div>

