<div class="container-fluid">

    <div class="row bg-secondary d-flex ">
        <div class="col-md-6">

            <div class="row d-flex justify-content-center ">
                <div class="col-md-6 text-light bor grid">
                
                    <ul class="list2">
                        <li class="whos">
                            <h2>Dados pessoais:</h2>
                        </li>
                        <li class="whos2">
                            <h3>Nome:</h3>
                        </li>
                            <dd class="paragrafo" class="paragrafo">Guilherme Matheus Carvalho de Sosua</dd>
                        <li class="whos2">
                            <h3>Data de nascimento:</h3>
                        </li>
                            <dd class="paragrafo" class="paragrafo">23/04/1997</dd>
                        <li class="whos2">
                            <h3>Endereço:</h3>
                        </li>
                            <dd class="paragrafo" class="paragrafo">Viela Esperança, 22, 03964-020, 
                                São Mateus- SP</dd>
                        <li class="whos2">
                            <h3>Atualmente desenvolvendo:</h3>
                        </li>
                            <dd class="paragrafo" class="paragrafo">Automation Status Buy / BootCamp Start Future</dd>
                        <li class="whos2">
                            <h3>Atualmente Estudando:</h3>
                        </li>
                            <dd class="paragrafo">Django / Selenium / Pandas</dd>
                        <li class="whos2">
                            <h3>Próximos Passos:</h3>
                        </li>
                            <dd class="paragrafo">JavaScript</dd>
                    </ul>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    
                </div>
            </div>
        </div>
        
        
        <div class="col-md-6 bg-dark">
            <img src="" alt="">
        </div>
    </div>
    
    
</div>

