<div class="container-fluid">

    <div class="row bg-secondary d-flex ">
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-light bor">
                    <h1 class="fs-54">Seja bem vinde!</h1>
                    <h5 class="fs-18"> Currículo</h5>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <button class="btn btn-light mr-2" data-toggle="modal" data-target="#novaPostagem">Nova Postagem</button>
                    <a class="btn btn-outline-light" href="#postagens">Ver Postagens</a>
                </div>
            </div>
        </div>
        
        
        <div class="col-md-6 bg-dark">
            <img src="" alt="">
        </div>
    </div>
    
    
</div>

