*{
    margin: 0px;
    padding: 0px;
    font-family: 'Play', sans-serif;
}

.navbar{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    color: white;
    
}
.indice:hover{
    color: #FF0A54;
    top: -5px;
}

.indice{
    position: relative;
    margin: 50px 25px;
    transition: top ease 0.5s;
    top: 0;
    text-decoration: none;
    padding: 20px;
}
.list_contacts{
    list-style: none;
    text-align: center;
    margin-top: 325px;
}
.list_contacts > li{
    margin: 50px 0px;
}
a{
    color: white;
}
.foto{
    width: 200px;
    height: 200px;
    border-radius: 500px;
    margin-top: 20px;
    padding: 10px;
    border: 5px solid #FF0A54;
}
.centro > .list_name{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
}
.centro{
    margin-left: auto;
    margin-right: auto ;
    width: 80%;
    color: white;
    margin-top: 175px;
}
.text{
    margin-top: 100px;
}
.text1{
    margin-top: 120px;
}
.nome{
    color: #FF0A54;
}

.navrosa{
    position: absolute;
    width: 100px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #FF0A54;
    color: white;
}
#block{
    padding: 20px;
    position: relative;
    transition: top ease 0.5s;
    top: 0;
}
#block:hover{
    color: #FF0A54;
    top: -5px;
}
a:hover {
    color: #243B55;
    top: -5px;
}
a{
    padding: 20px;
    position: relative;
    transition: top ease 0.5s;
    top: 0;
}
#about{
    min-height: 935px;
}
#home{
    min-height: 935px;
    margin-bottom: 30px;
}
html{
    scroll-behavior: smooth;
}

.grid{
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr;
    margin: 50px;
    grid-gap: 50px;
    max-width: 1500px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.whosmateus{
    border-radius: 20PX;
    min-height: 200px;
    max-height: 500px;
    min-width: 300px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    position: relative;
    transition: top ease 0.5s;
    top: 0;
    text-align: center;
}


.whos{
    color: #FF0A54;
    margin: 20px;
    margin-bottom: 50px;
}
.paragrafo{
    margin: 20px 50px;
    text-align: start;
    color: white;

}

ul{
    list-style: none;
}
.list{
    
    border-radius: 20px;
    position: relative;
    transition: top ease 0.5s;
    top: 0;
}
.whos2{
    text-align: start;
    color: #FF0A54;
    margin: 20px;
}

.list2{
    
    border-radius: 20px;
    position: relative;
    transition: top ease 0.5s;
    top: 0;
}
.list3{
    
    border-radius: 20px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 50px;
    color: white;
    position: relative;
    transition: top ease 0.5s;
    top: 0;
}
.list4{
    
    border-radius: 20px;
    position: relative;
    transition: top ease 0.5s;
    top: 0;
}
.euzinho{
    border-radius: 70px;
    margin-top: 275px;
    padding: 10px;
    border: 2px solid #FF0A54;
}
.atributo{
    border-radius: 50px;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #FF0A54;
    margin: 10px 10px;
}
.logos{
    display: flex;
    flex-direction: row;
}
.images{
    max-width: 600px;
    max-height: 800px;
    text-align: center;
}
.images > .logos{
    justify-content: center;
}

#projects{
   min-height: 935px; 
}

.img_project{
    min-width: 300px;
    min-height: 200px;
    max-width: 500px;
    max-height: 400px;
    padding: 10px;
    border: 2px solid #FF0A54;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin: 20px auto;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

.title_project{
    color: white;
    text-align: center;
}
.center_title{
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.rodape{
    background-color: #FF0A54;
    height: 150px;
    margin-top: 50px;
    text-align: center;
    
}

.h2_contacts{
    color: white;
    margin-bottom: 20px;
    

}
a{
    text-decoration: none;
}

.ul_contacts{
    text-align: center;
    padding: 30px;
    
}
.container2{
    text-align: center;
}

.whosmateus:hover{
    border: 1px solid #FF0A54;
    color: #FF0A54;
    top: -20px; 
}
.list:hover{
    border: 1px solid #FF0A54;
    color: #FF0A54;
    top: -20px;  
}

.list2:hover{
    border: 1px solid #FF0A54;
    color: #FF0A54;
    top: -20px;
}

.list3:hover{
    border: 1px solid #FF0A54;
    color: #FF0A54;
    top: -20px;
}
.list4:hover{
    border: 1px solid #FF0A54;
    color: #FF0A54;
    top: -20px;
}

